.select_buttons button{
    font-size: 1.5em ;
    margin: 1em 1em;
    padding: 5px 10px;
    background: linear-gradient(to right, #21b3ab, #5f9ea0);
    font-family: verdana;
    color: midnightblue;
    cursor: pointer;
    transition: 3s;
}

.select:hover{
    background: linear-gradient(to right, #5f9ea0, #21b3ab);
}

.select_buttons{
    text-align: center;
}

#select_head{
    text-align: center;
    font-family: Helvetica;
    color: midnightblue;
    margin-bottom: 2em;
}

h1{
    text-align: center;
    font-family: Helvetica;
    color: midnightblue;
}

#guess{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
}

.guess_buttons button{
    font-size: 1em ;
    margin: 1em 1em;
    padding: 5px 10px;
    background: linear-gradient(to right, #21b3ab, #5f9ea0);
    font-family: verdana;
    color: midnightblue;
    cursor: pointer;
    transition: 3s;
}

.guess:hover{
    background: linear-gradient(to right, #5f9ea0, #21b3ab);
}

.guess_buttons{
    text-align: center;
}

#correct{
    font-family: Helvetica;
    color: midnightblue;
}